/* https://wiki.c2.com/style.css respect the og */

main {
  width: 500px;
  margin: 15px;
  padding: 15px;
  word-wrap: break-word;
  box-shadow: 10px 10px 30px 10px  rgba(0,0,0,.1);
  background-color: white;
}

a {
  text-decoration: none;
}
