---
layout: default
---

<div>
  {%- if page.title -%}
    <h1>{{ page.title }}</h1>
  {%- endif -%}

  <div>
    <em>Upcoming Performances:</em>
    <a href="https://www.instagram.com/thetruevinerecordshop">March 1, 2024</a>
    &amp;
    March 2, 2024
  </div>

  {%- if site.posts.size > 0 -%}
    <ul class="posts">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span>
          <span>{{ post.date | date: date_format }}</span>
          -
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </span>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
